[submodule "modules/win-service"]
	path = modules/win-service
	url = https://github.com/radkum/win-service
[submodule "modules/elam-rs"]
	path = modules/elam-rs
	url = https://github.com/radkum/elam-rs
